 <div id="header" class="cf " >
      <div id="header-inner">
      <header class='cf' id='global-header'>
    <div class='global-menu-wrapper cf'>
      <p class='header-logo logo-icon'>
      <a href="/"><img width="44px" height="44px" alt="Wantedly" src="https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-a0ae0c0da51ab402f4ae76a1772c19579277ec2b369fc42ea61a35c9957a2acc.svg" />
      </a></p>
    <div class='global-menu'>
      <ul>
        <li class='selected-user-menu'>
          <a href="/projects">募集をみる
          </a></li>
        <li class='user-menu'>
          <a href="/feeds">フィードをみる
          </a></li>
        <li class='user-menu'>
          <a href="/">プロフィール</a>
          <span class='more-service-list'>
          </span>
        </li>
        <li class='user-menu'>
          <a href="/users/room">ツール
          </a>
        </li>
        <li><form class="search" action="/search" accept-charset="UTF-8" method="get">
          <input type="text" name="q" id="user-search-field" placeholder="人を検索" class="allow_submit" />
          <i class='wt-icon wt-icon-search-short'></i>
        </form>
        </li>
        <li>
          <div id= 'user-search-result'></div>
        </li>
      </ul>
    </div>
    <div class="user-profile-photo">
      <img width="40" height="40" src="https://graph.facebook.com/558752580905386/picture?height=80&width=80" alt="Picture?height=80&width=80">
    </div>
      <ul class="notifications cf">
        <li class="notification-comment user-menu-button-notif" id="header_messages_notification">
          <i class="wt-icon wt-icon-search-short">
          </i>
          </li>
          <li>
          </li>
        </ul>
      </div>
    </div>

</div>
</header>
