
<script src="https://de7iszmjjjuya.cloudfront.net/assets/global_header-6853a49006b3dd7a43874021574aa245ebaf716e459d4258312defe63e471931.js"></script>
<script src="https://de7iszmjjjuya.cloudfront.net/assets/header-88d06fcdc4c1d4e8c64641d3f37050a6a29d2204d8a96cc160eb3615ec2bef82.js"></script>

<body ng-app="" class="">
  <div id="global-overlay" class="overlay" style="display:none;"></div>
  <div id="fb-root"></div>
  <div id="container">
  <div id="main-outer" class="cf">
    <%= render partial: "header" %>
  <div id="project-index-sub-header">
    <div id="featured-projects">
      <div class="featured-nav-left" style="display: block;">

      </div>
